<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="后台管理系统">
    <meta name="description" content="后台管理系统">
    <!--[if lt IE 9]>
    <script src="../common/js/html5.js"></script>
    <script src="../common/js/respond.min.js"></script>
    <script src="../common/js/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../common/plugin/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" href="../../common/plugin/Hui-iconfont/1.0.7/iconfont.css"/>
    <link rel="stylesheet" href="../../common/plugin/icheck/icheck.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" href="../../common/css/common.css"/>
    <!--[if IE 6]>
    <script src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>后台管理系统</title>
</head>
<style>
    .col-g{
        color: #649401;
    }
    .col-c{
        color: #ce9304;
    }
    .col-r{
        color: #d40404;
    }
    a:hover{
        color: black;
    }
</style>
<body>
<nav class="breadcrumb">
    <span class="size14 color6">当前位置：</span>
    <span class="color6">系统首页</span>
    <span class="c-gray en">&gt;</span>
    <span class="color6">景点管理</span>
    <span class="c-gray en">&gt;</span>
    <span class="color size14">查看景点</span>
    <!-- <a class="btn btn-warning radius r" style="line-height:1.6em;margin-top:3px"  title="导出" ><i class="Hui-iconfont">导出</i></a> -->
</nav>
<div class="page-container">
    <div class="ml-20">
        <a href="authentication_detail2.html">
            <div class="btn btn-primary radius mr-10 layui-bg-b create-u">添加景点</div>
        </a>
        <div class="btn btn-warning radius">批量删除</div>
    </div>
    <div class="col-md-12 mt-20">
        <!-- <div class="table-header clearfix">
            <div class="status-item">
                <span>账号状态：</span>
                <span class="select-m-box">
                  <select class="select" size="1" name="demo1">
                    <option value="" selected>正常</option>
                    <option value="1">菜单一</option>
                    <option value="2">菜单二</option>
                    <option value="3">菜单三</option>
                  </select>
                </span>
            </div>
            <div class="search-item ml-20">
                <span>关键词：</span>
                <input  type="text" class="input-text in-b" value="" placeholder="姓名/身份证号" width="150" id="username" name="username">
                <a class="btn btn-primary radius ml-20 layui-bg-b">查询</a>
            </div>
        </div> -->
        <table class="table table-bordered">
            <thead class="text-c">
                <tr>
                  <th class="bg-ob"><input type="checkbox" value="" name=""></th>
                  <th class="bg-ob">景点名称</th>
                  <th class="bg-ob">所在地址</th>
                  <!-- <th class="bg-ob">行政区划</th>
                  <th class="bg-ob">身份角色</th> -->
                  <!-- <th class="bg-ob">身份证号</th> -->
                  <th class="bg-ob">添加时间</th>
                  <!-- <th class="bg-ob">账号状态</th> -->
                  <!-- <th class="bg-ob">最近登录IP</th>
                  <th class="bg-ob">最近登录时间</th> -->
                  <th class="bg-ob">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-c"><input type="checkbox" value="" name=""></td>
                    <td class="text-c">
                        秦始皇兵马俑
                    </td>
                    <td class="text-c">西安市</td>
                    <td class="text-c">2017-01-02</td>
                    <td class="text-c min-wid-th">
                        <a class="color3 in-b mr-20 col-c" href="authentication_detail.html">查看</a>
                        <a class="color3 in-b mr-20 js-edit col-g" href="authentication_detail1.html">编辑</a>
                        <a class="color3 in-b item_del col-r">删除</a>
                    </td>
                </tr>
                <tr>
                    <td class="text-c"><input type="checkbox" value="" name=""></td>
                    <td class="text-c">
                        大雁塔
                    </td>
                    <td class="text-c">西安市</td>
                    <td class="text-c">2017-01-02</td>
                    <td class="text-c min-wid-th">
                        <a class="color3 in-b mr-20 col-c" href="authentication_detail_1.html">查看</a>
                        <a class="color3 in-b mr-20 js-edit col-g" href="authentication_detail1.html">编辑</a>
                        <a class="color3 in-b item_del col-r">删除</a>
                    </td>
                </tr>
                <tr>
                    <td class="text-c"><input type="checkbox" value="" name=""></td>
                    <td class="text-c">
                        碑林
                    </td>
                    <td class="text-c">西安市</td>
                    <td class="text-c">2017-01-02</td>
                    <td class="text-c min-wid-th">
                        <a class="color3 in-b mr-20 col-c" href="authentication_detail.html">查看</a>
                        <a class="color3 in-b mr-20 js-edit col-g" href="authentication_detail1.html">编辑</a>
                        <a class="color3 in-b item_del col-r">删除</a>
                    </td>
                </tr>
                <tr>
                    <td class="text-c"><input type="checkbox" value="" name=""></td>
                    <td class="text-c">
                        西安城墙
                    </td>
                    <td class="text-c">西安市</td>
                    <td class="text-c">2017-01-02</td>
                    <td class="text-c min-wid-th">
                        <a class="color3 in-b mr-20 col-c" href="authentication_detail.html">查看</a>
                        <a class="color3 in-b mr-20 js-edit col-g" href="authentication_detail1.html">编辑</a>
                        <a class="color3 in-b item_del col-r">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="in-b f-l mt-30 mb-30">
            <span class="size14">当前第1页</span>
            <span class="size14">共3页</span>
            <span class="size14">共45条记录</span>
        </div>
        <div class="in-b f-r mt-30 mb-30">
            <div class="divPager"></div>
        </div>
    </div>
</div>
<script src="../../common/js/jquery-1.9.1.min.js"></script>
<script src="../../common/plugin/h-ui/js/H-ui.js"></script>
<script src="../../common/plugin/h-ui.admin/js/H-ui.admin.js"></script>
<script src="../../common/js/plugin/layer/2.1/layer.js"></script>
<script src="../../common/js/plugin/laypage/1.2/laypage.js"></script>
<!-- <script src="../../common/js/jquery.contextmenu.r2.js"></script> -->
<script src="../../common/js/common.js"></script>
</body>
<script>
    demo();
    $(".item_del").on("click",function(){
        var obj = this;
        layer.confirm('确认要删除吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            console.log( $(this).parents());
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    })
</script>
</html>