<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="后台管理系统">
    <meta name="description" content="后台管理系统">
    <!--[if lt IE 9]>
    <script src="../common/js/html5.js"></script>
    <script src="../common/js/respond.min.js"></script>
    <script src="../common/js/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../common/plugin/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" href="../../common/plugin/Hui-iconfont/1.0.7/iconfont.css"/>
    <!--<link rel="stylesheet" href="../../common/plugin/icheck/icheck.css"/>-->
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" href="../../common/plugin/ztree/zTreeStyle.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" href="../../common/css/common.css"/>
    <!--[if IE 6]>
    <script src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>后台管理系统</title>
</head>
<body>
<nav class="breadcrumb">
    <span class="size14 color6">当前位置：</span>
    <span class="color6">系统首页</span>
    <span class="c-gray en">&gt;</span>
    <span class="color6">反馈信息管理</span>
    <span class="c-gray en">&gt;</span>
    <span class="color size14">反馈信息详情</span>
    <a class="btn btn-default radius r" style="line-height:1.6em;margin-top:3px" href="javascript:history.go(-1)" title="返回" ><i class="Hui-iconfont">返回</i></a>
</nav>
<div class="page-container">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <!-- td class="bg-ob text-c">被授权对象：</td>
                    <td>操作员</td> -->
                    <td class="bg-ob text-c">反馈者：</td>
                    <td>宋小菲</td>
                    <td class="bg-ob text-c">信息名称：</td>
                    <td>xiaofei51</td>
                    <td class="bg-ob text-c">反馈时间：</td>
                    <td>2017-01-02</td>
                </tr>
            </tbody>
        </table>
        <div class="table-header clearfix bg-ob mt-20">
            <div class="text-c">反馈信息详细描述</div>
        </div>
        <div class="table-content pd-10" style="height:300px">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、加载过程较为复杂。2、配色不够鲜明，字体颜色不搭。3、信息时效性较差
        </div>
        <!-- <div class="text-c mt-20 layer-btn-content mb-20" style="margin-left: 0px;">
            <div class="btn btn-primary radius mr-10 layui-bg-b">保存</div>
        </div> -->
    </div>
</div>
<script src="../../common/js/jquery-1.9.1.min.js"></script>
<script src="../../common/plugin/h-ui/js/H-ui.js"></script>
<script src="../../common/plugin/h-ui.admin/js/H-ui.admin.js"></script>
<script src="../../common/js/plugin/layer/2.1/layer.js"></script>
<script src="../../common/js/plugin/laypage/1.2/laypage.js"></script>
<!--<script type="text/javascript" src="../../common/plugin/icheck/jquery.icheck.min.js"></script>-->
<script type="text/javascript" src="../../common/plugin/ztree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="../../common/plugin/ztree/jquery.ztree.excheck.min.js"></script>
<!-- <script src="../../common/js/jquery.contextmenu.r2.js"></script> -->
<script src="../../common/js/common.js"></script>
</body>
<script>
//   $(".check-box input").on("click",function(){
//       //判断是否选中
//       if($(this).is(':checked')){
//            //选中
//            $(this).nextAll("label").addClass("color-r");
//       }else{
//            //未选中
//           $(this).nextAll("label").removeClass("color-r");
//       }
//   })

   var setting = {
       check: {
           enable: true
       },
       data: {
           simpleData: {
               enable: true
           }
       }
   };

   // var zNodes =[
   //     { id:1, pId:0,sid:"",name:"业务处理",open:true},
   //     { id:11, pId:1, name:"脱机认证未通过处理",open:true},
   //     { id:12, pId:1, name:"认证查询"},
   //     { id:13, pId:1, name:"业务数据导入"},
   //     { id:14, pId:1, name:"处理未匹配数据"},
   //     { id:2, pId:0, name:"终端设备管控",open:true},
   //     { id:21, pId:2, name:"设备运行情况",open:true},
   //     { id:22, pId:2, name:"运行故障分析"},
   //     { id:23, pId:2, name:"设备用户管理"},
   //     { id:24, pId:2, name:"设备参数设置"}
   // ];

   var code;

    function setCheck() {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                py = $("#py").attr("checked")? "p":"",
                sy = $("#sy").attr("checked")? "s":"",
                pn = $("#pn").attr("checked")? "p":"",
                sn = $("#sn").attr("checked")? "s":"",
                type = { "Y":py + sy, "N":pn + sn};
        zTree.setting.check.chkboxType = type;
        showCode('setting.check.chkboxType = { "Y" : "' + type.Y + '", "N" : "' + type.N + '" };');
    }
   function showCode(str) {
       if (!code) code = $("#code");
       code.empty();
       code.append("<li>"+str+"</li>");
   }

   $(document).ready(function(){
       $.fn.zTree.init($("#treeDemo"), setting, zNodes);
       setCheck();
       $("#py").bind("change", setCheck);
       $("#sy").bind("change", setCheck);
       $("#pn").bind("change", setCheck);
       $("#sn").bind("change", setCheck);
   });
</script>
</html>