<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="手机导游平台">
    <meta name="description" content="手机导游平台">
    <!--[if lt IE 9]>
    <script src="../../common/js/html5.js"></script>
    <script src="../../common/js/respond.min.js"></script>
    <script src="../../common/js/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../common/plugin/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" href="../../common/plugin/Hui-iconfont/1.0.7/iconfont.css"/>
    <link rel="stylesheet" href="../../common/plugin/icheck/icheck.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" href="../../common/css/common.css"/>
    <!--[if IE 6]>
    <script src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>手机导游平台</title>
</head>
<style>
    
</style>
<body>
<nav class="breadcrumb">
    <span class="size14 color6">当前位置：</span>
    <span class="color6">系统首页</span>
    <span class="c-gray en">&gt;</span>
    <span class="color6">近期活动管理</span>
    <span class="c-gray en">&gt;</span>
    <span class="color size14">删除近期活动</span>
    <!--<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">刷新</i></a>-->
</nav>
<div class="page-container">
    <div class="col-md-12">
        <div class="table-header clearfix bg-ob" style="border: 1px solid #ddd;">
            <span>温馨提示：</span>
            <ul class="ml-20" style="list-style-type:disc">
                <li>生物识别系统参数</li>
                <li>养老金领取资格认证</li>
                <li>失业金领取资格认证</li>
                <li>医保报销实名认证</li>
                <li>人事考试认证</li>
            </ul>
        </div>
        <div class="table-content pd-10" style="height:440px">
            <div class="town-list-item text-c mt-30 mr-10 ml-20">
                <a href="system_arguments_biometrics.html">
                    <img src="../../common/images/biometrics.png" class="arguments-img-style" alt="" title="生物识别系统参数"/>
                    <div class="arguments-title-style ml-20">生物识别系统参数</div>
                </a>
            </div>
            <div class="town-list-item text-c mt-30 mr-10 ml-20">
                <a href="system_arguments_pension.html">
                    <img src="../../common/images/pension.png" class="arguments-img-style" alt="" title="养老金领取资格认证"/>
                    <div class="arguments-title-style-l ml-20">养老金领取资格认证</div>
                </a>
            </div>
            <div class="town-list-item text-c mt-30 mr-10 ml-20">
                <a href="system_arguments_unemployment.html">
                    <img src="../../common/images/unemployment.png" class="arguments-img-style" alt="" title="失业金领取资格认证"/>
                    <div class="arguments-title-style-l ml-20">失业金领取资格认证</div>
                </a>
            </div>
            <div class="town-list-item text-c mt-30 mr-10 ml-20">
                <a href="">
                    <img src="../../common/images/medical.png" class="arguments-img-style" alt="" title="医保报销实名认证"/>
                    <div class="arguments-title-style ml-20">医保报销实名认证</div>
                </a>
            </div>
            <div class="town-list-item text-c mt-30 mr-10 ml-20">
                <a href="">
                    <img src="../../common/images/personnel.png" class="arguments-img-style" alt="" title="人事考试认证"/>
                    <div class="arguments-title-style ml-20">人事考试认证</div>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="../../common/js/jquery-1.9.1.min.js"></script>
<script src="../../common/plugin/h-ui/js/H-ui.js"></script>
<script src="../../common/plugin/h-ui.admin/js/H-ui.admin.js"></script>
<script src="../../common/js/plugin/layer/2.1/layer.js"></script>
<script src="../../common/js/plugin/laypage/1.2/laypage.js"></script>
<!-- <script src="../../common/js/jquery.contextmenu.r2.js"></script> -->
<script src="../../common/js/common.js"></script>
</body>
<script>
//    demo();
</script>
</html>