<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="人社管理平台">
    <meta name="description" content="人社管理平台">
    <!--[if lt IE 9]>
    <script src="../../common/js/html5.js"></script>
    <script src="../../common/js/respond.min.js"></script>
    <script src="../../common/js/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../common/plugin/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" href="../../common/plugin/Hui-iconfont/1.0.7/iconfont.css"/>
    <link rel="stylesheet" href="../../common/plugin/icheck/icheck.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" href="../../common/css/common.css"/>
    <!--[if IE 6]>
    <script src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>人社管理平台</title>
</head>
<style>

</style>
<body>
<nav class="breadcrumb">
    <span class="size14 color6">当前位置：</span>
    <span class="color6">系统首页</span>
    <span class="c-gray en">&gt;</span>
    <span class="color6">系统管理</span>
    <span class="c-gray en">&gt;</span>
    <span class="color size14">版本详细</span>
    <!--<a class="btn btn-warning radius r" style="line-height:1.6em;margin-top:3px"  title="发布新版本" ><i class="Hui-iconfont">发布新版本</i></a>-->
    <!--<a class="btn btn-success radius r ml-10 mr-10" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">刷新</i></a>-->
    <a class="btn btn-default radius r" style="line-height:1.6em;margin-top:3px" href="javascript:history.go(-1)" title="返回" ><i class="Hui-iconfont">返回</i></a>
</nav>
<div class="page-container">
    <div class="col-md-12 mt-20">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="text-c bg-ob">版本名称：</td>
                <td>终端英文主题v3.0.3</td>
                <td class="text-c bg-ob">版本号：</td>
                <td>v3.0.0</td>
            </tr>
            <tr>
                <td class="text-c bg-ob">文件大小：</td>
                <td>1.1MB</td>
                <td class="text-c bg-ob">支持终端：</td>
                <td>终端设备/自助机/监控端</td>
            </tr>
            <tr>
                <td class="text-c bg-ob">版本校验码：</td>
                <td>5X6D5S665DFE522HY</td>
                <td class="text-c bg-ob">升级限制：</td>
                <td>强制升级/普通升级</td>
            </tr>
            <tr>
                <td class="text-c bg-ob">生效时间：</td>
                <td>2016-12-01 12:00</td>
                <td class="text-c bg-ob">发布范围：</td>
                <td>成都市/...</td>
            </tr>
            <tr>
                <td class="text-c bg-ob">发布人：</td>
                <td>张三</td>
                <td class="text-c bg-ob">发布时间：</td>
                <td>2016-12-29 12:00</td>
            </tr>
            <tr>
                <td class="text-c bg-ob">版本说明：</td>
                <td colspan="3">
                    <ul class="ml-20" style="list-style-type:disc">
                        <li>添加了英文主题，界面风格更靓丽；</li>
                        <li>增加了小语种语音；</li>
                        <li>修复部分bug；</li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="../../common/js/jquery-1.9.1.min.js"></script>
<script src="../../common/plugin/h-ui/js/H-ui.js"></script>
<script src="../../common/plugin/h-ui.admin/js/H-ui.admin.js"></script>
<script src="../../common/js/plugin/layer/2.1/layer.js"></script>
<script src="../../common/js/plugin/laypage/1.2/laypage.js"></script>
<!-- <script src="../../common/js/jquery.contextmenu.r2.js"></script> -->
<script src="../../common/js/common.js"></script>
<!--时间控件-->
<script src="../../common/js/plugin/datePicker/lang/zh-cn.js"></script>
<script src="../../common/js/plugin/datePicker/WdatePicker.js"></script>
</body>
<script>
//    demo();
</script>
</html>