<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="人社管理平台">
    <meta name="description" content="人社管理平台">
    <!--[if lt IE 9]>
    <script src="../../common/js/html5.js"></script>
    <script src="../../common/js/respond.min.js"></script>
    <script src="../../common/js/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../common/plugin/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" href="../../common/plugin/Hui-iconfont/1.0.7/iconfont.css"/>
    <link rel="stylesheet" href="../../common/plugin/icheck/icheck.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" href="../../common/css/common.css"/>
    <!--[if IE 6]>
    <script src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>人社管理平台</title>
</head>
<style>

</style>
<body>
<nav class="breadcrumb">
    <span class="size14 color6">当前位置：</span>
    <span class="color6">系统首页</span>
    <span class="c-gray en">&gt;</span>
    <span class="color6">系统管理</span>
    <span class="c-gray en">&gt;</span>
    <span class="color size14">发布新版本</span>
    <!--<a class="btn btn-warning radius r" style="line-height:1.6em;margin-top:3px"  title="发布新版本" ><i class="Hui-iconfont">发布新版本</i></a>-->
    <!--<a class="btn btn-success radius r ml-10 mr-10" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">刷新</i></a>-->
    <a class="btn btn-default radius r" style="line-height:1.6em;margin-top:3px" href="javascript:history.go(-1)" title="返回" ><i class="Hui-iconfont">返回</i></a>
</nav>
<div class="page-container">
    <form action="" id="form">
    <div class="col-md-12 mt-20">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="text-c">
                    <span class="color-r">*</span>版本名称：
                </td>
                <td>
                    <span class="select-m-box-l">
                        <select class="select" size="1" name="demo1">
                            <option value="" selected="">请选择终端</option>
                        </select>
                        <div class="select-icon"></div>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="text-c">
                    <span class="color-r">*</span>新版文件：
                </td>
                <td>
                    <span class="btn-upload form-group ml-10">
                    <input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly="" nullmsg="请添加附件！" style="width:200px">
                    <a href="javascript:void(0);" class="btn-primary upload-btn btn bs-cb">选择文件</a>
                    <input type="file" multiple="" name="file-2" class="input-file valid">
				</span>
                </td>
            </tr>
            <tr>
                <td class="text-c">
                    文件名称：
                </td>
                <td>
                    <input type="text" class="input-text in-b disabled ml-10" style="width: 200px;" disabled value="" >
                </td>
            </tr>
            <tr>
                <td class="text-c">
                    版本/大小：
                </td>
                <td>
                    <input type="text" class="input-text in-b disabled ml-10 radius" style="width: 150px;" disabled value="" >
                    <input type="text" class="input-text in-b disabled ml-10 radius" style="width: 150px;" disabled value="" >
                </td>
            </tr>
            <tr>
                <td class="text-c">
                    <span class="color-r">*</span>版本校验码：
                </td>
                <td>
                    <input type="text" class="input-text in-b ml-10 radius" style="width: 200px;" value="" required>
                </td>
            </tr>
            <tr>
                <td class="text-c">
                    <span class="color-r">*</span>发布说明：
                </td>
                <td>
                    <textarea name="" class="textarea radius ml-10" id="" style="width: 400px;"></textarea>
                </td>
            </tr>
            <tr>
                <td class="text-c">
                    <span class="color-r">*</span>发布范围：
                </td>
                <td>
                    <div class="radio-box ml-10">
                        <input type="radio" id="radio-1" name="demo-radio1" checked>
                        <label for="radio-1">无范围限制</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" id="radio-2" name="demo-radio1" >
                        <label for="radio-2">有范围限制</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-c">
                    <span class="color-r">*</span>生效时间：
                </td>
                <td>
                    <div class="radio-box ml-10">
                        <input type="radio" id="radio-1" name="demo-radio2" value="立即生效" checked>
                        <label for="radio-1">立即生效</label>
                    </div>
                    <div class="radio-box">
                        <input type="radio" id="radio-2" name="demo-radio2" value="定时生效">
                        <label for="radio-2">定时生效</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="text-c">
                    <span class="color-r">*</span>升级限制：
                </td>
                <td>
                    <span class="select-m-box-l">
                        <select class="select" size="1" name="demo1">
                            <option value="" selected="">请选择限制方式</option>
                        </select>
                        <div class="select-icon"></div>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-c mt-20 layer-btn-content mb-20" style="margin-left: 0px;">
            <div class="btn btn-primary radius mr-10 layui-bg-b check">确定发布</div>
            <a class="btn btn-default radius" href="javascript:history.go(-1)">取消</a>
        </div>
    </div>
    </form>
</div>
<script src="../../common/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../common/plugin/jquery.validation/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../common/plugin/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="../../common/plugin/jquery.validation/1.14.0/messages_zh.min.js"></script>
<script src="../../common/plugin/h-ui/js/H-ui.js"></script>
<script src="../../common/plugin/h-ui.admin/js/H-ui.admin.js"></script>
<script src="../../common/js/plugin/layer/2.1/layer.js"></script>
<script src="../../common/js/plugin/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="../../common/plugin/icheck/jquery.icheck.min.js"></script>
<!-- <script src="../../common/js/jquery.contextmenu.r2.js"></script> -->
<script src="../../common/js/common.js"></script>
<!--时间控件-->
<script src="../../common/js/plugin/datePicker/lang/zh-cn.js"></script>
<script src="../../common/js/plugin/datePicker/WdatePicker.js"></script>
</body>
<script>
//    demo();
    $(function(){
        $('.radio-box input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue'
        });
    })

$("#form").validate();
$(".check").on("click",function(){
    $("#form").submit();
})
</script>
</html>