<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="后台管理系统">
    <meta name="description" content="后台管理系统">
    <!--[if lt IE 9]>
    <script src="../common/js/html5.js"></script>
    <script src="../common/js/respond.min.js"></script>
    <script src="../common/js/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../common/plugin/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" href="../../common/plugin/Hui-iconfont/1.0.7/iconfont.css"/>
    <link rel="stylesheet" href="../../common/plugin/icheck/icheck.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" href="../../common/css/common.css"/>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=cb84c659c88a7cc83b935a009b3a9cfd&plugin=AMap.Geocoder"></script>
    <!--[if IE 6]>
    <script src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>后台管理系统</title>
</head>
<style>
    .text-c{
        height: 44px;
    }
    .p-160{
        width: 160px;
    }
    textarea{
        border: 1px solid #ddd;
        box-sizing:border-box;
    }
    #container{
        height: 500px;
        margin: 0px
        width:100%;
    }
</style>
<body>
<nav class="breadcrumb">
    <span class="size14 color6">当前位置：</span>
    <span class="color6">系统首页</span>
    <span class="c-gray en">&gt;</span>
    <span class="color6">导航管理</span>
    <span class="c-gray en">&gt;</span>
    <span class="color size14">编辑导航</span>
    <a class="btn btn-default radius r" style="line-height:1.6em;margin-top:3px" href="javascript:history.go(-1)" title="返回" ><i class="Hui-iconfont">返回</i></a>
</nav>
<div class="page-container">
    <div class="col-md-12 mt-20 mb-20">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <!-- td class="bg-ob text-c">被授权对象：</td>
                    <td>操作员</td> -->
                    <td class="bg-ob text-c">景点名称：</td>
                    <!-- <td class="bg-ob text-c">兵马俑</td> -->
                    <td style="background:#fff;">
                        <div class="input-group nav-name">
                            <input type="text" class="input-text" value="秦始皇兵马俑博物馆">
                        </div>
                    </td>
                    <td class="bg-ob text-c">所在城市：</td>
                    <td style="background:#fff;">
                        <div class="input-group nav-city">
                            <input type="text" class="input-text" value="西安市">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="table-header clearfix bg-ob" style="margin-top:10px;">景点标注</div>
        <div id="container"></div>


        <div class="table-header clearfix bg-ob" style="margin-top:10px;">简单介绍</div>
        <textarea class="bg-ob" style="width:100%;height:100%;min-height:200px;padding:10px;box-sizing:border-box;background:#fff;" placeholder="兵马俑博物馆位于西安临潼区秦始皇陵东1.5公里处，是秦始皇陵的从葬坑，被誉为..."></textarea>
        <table class="table table-bordered" style="margin-top:10px;border-bottom: 0;">
            <tbody>
            <tr>
                <td style="width:100px;text-align: center;">
                    图文介绍
                </td>
                <td>
                    <div class="btn btn-primary radius ml-10 layui-bg-b" id="photo">添加图片</div>
                    <div class="btn btn-primary radius ml-10 layui-bg-b" id="word">添加文字</div>
                </td>
            </tr>
            </tbody>
        </table>
        
        <table class="table table-bordered">
            <tbody id="tuwen">
                <tr>
                    <td class="bg-ob text-c">
                        <div class="img-content">
                            <img src="../../common/images/delete.png" class="delete-btn" alt="">
                            <img src="../../common/images/bingmayong1.jpg" style="width:100%;height:auto;">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="img-content">
                            <img src="../../common/images/delete.png" class="delete-btn" alt="">
                            <textarea class="bg-ob" style="width:100%;height:100%;min-height:200px;background:#fff;">       兵马俑即秦始皇兵马俑，亦简称秦兵马俑或秦俑，位于今陕西省西安市临潼区秦始皇陵以东1.5公里处的兵马俑坑内。
       兵马俑是古代墓葬雕塑的一个类别。古代实行人殉，奴隶是奴隶主生前的附属品，奴隶主死后奴隶要作为殉葬品为奴隶主陪葬。兵马俑即制成兵马（战车、战马、士兵）形状的殉葬品。
       1974年3月，兵马俑被发现；1987年，秦始皇陵及兵马俑坑被联合国教科文组织批准列入《世界遗产名录》，并被誉为“世界第八大奇迹”。先后已有200多位国家领导人参观访问，成为中国古代辉煌文明的一张金字名片。
       人殉是伴随原始公有制的瓦解而萌芽，至奴隶制建立而盛行的一项残酷的丧葬制度。人殉最兴盛的时代是殷商时期，商代贵族大墓中都有殉人。在安阳殷墟工陵区内，已发掘的十几座大墓中被生殉、杀殉的多达五千余人。
       周王朝吸取了殷商暴政的教训，强调“明德保民”。周礼的诞生和推行，使得人殉现象得到很大程度的抑制，但并未根绝。到了春秋时期，列国争霸，时代动荡，人殉复燃。战国时期，诸侯各国先后废止了人殉制度。秦献公元年（前384年），“止从死”，秦国正式废止人殉制度。
       春秋战国之际的社会变革促使葬俗发生了变化，出现以俑殉葬，即用陶俑、木俑等来代替人殉。“俑”的本意就是人殉，当人殉逐渐淡出人们的视野之后，“俑”便成了墓葬中陶塑、石雕、人像的专有名词。秦兵马俑就是以俑代人殉葬的典型，也是以俑代人殉葬的顶峰。秦俑之所以在规模、写实程度上达到如此的高度，除了工匠的智慧之外，还与历史上第一个封建皇帝的意志分不开。秦俑严格地摹拟实物，带有肖像写生的性质和特点，并且在规模和气势上更胜一筹。
       据《史记》记载：秦始皇陵由丞相李斯依惯例开始主持规划设计，大将章邯监工，修筑时间长达39年之久，兵马俑是修筑秦陵的同时制作并埋入随葬坑内。</textarea>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

        <table class="table table-bordered" style="margin-top:10px;">
            <tbody>
            <tr>
                <td style="width:100px;text-align: center;">
                    语音介绍
                </td>
                <td>
                    <span class="btn-upload form-group ml-10">
                        <input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly="" nullmsg="请添加语音文件！" style="width:200px">
                        <a href="javascript:void(0);" class="btn-primary upload-btn btn bs-cb">选择文件</a>
                        <input type="file" multiple="" name="file-2" class="input-file valid">
                    </span>
                    <a class="btn btn-primary radius ml-10 layui-bg-b" href="">确定</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-c mt-20 layer-btn-content mb-20" style="margin-left: 0px;">
            <div class="btn btn-primary radius mr-10 layui-bg-b" id="baocun">保存</div>
        </div>
    </div>
</div>

<script src="../../common/js/jquery-1.9.1.min.js"></script>
<script src="../../common/plugin/h-ui/js/H-ui.js"></script>
<script src="../../common/plugin/h-ui.admin/js/H-ui.admin.js"></script>
<script src="../../common/js/plugin/layer/2.1/layer.js"></script>
<script src="../../common/js/plugin/laypage/1.2/laypage.js"></script>
<!-- <script src="../../common/js/jquery.contextmenu.r2.js"></script> -->
<script src="../../common/js/common.js"></script>
</body>
<script>
    var map, geolocation;
    //加载地图，调用浏览器定位服务
    map = new AMap.Map('container', {
        center:[109.281166,34.385152],
        resizeEnable: true,
        zoom:16
    });

    // window.map = map;
      //获取地址
      function getAddress(lnglatXY, callback) {
          var geocoder = new AMap.Geocoder({
              radius: 1000,
              extensions: "all"
          });
          geocoder.getAddress(lnglatXY, function(status, result) {
              if (status === 'complete' && result.info === 'OK') {
                  var address = result.regeocode; //返回地址描述
                  console.log(address);
                  callback.success(address);
                  var address = {
                      province: address.addressComponent.province,
                      city: address.addressComponent.city,
                      district: address.addressComponent.district
                  }
              }
          });
      }

    //点击标注
      map.on('click', function(e) {
        console.log(e.lnglat.lng);
          //隐藏列表
          // $(".amap-sug-result").css("visibility", "hidden");

          // $(".address .edit-li-img").attr("src", "/img/edit/address-02.png");
          // //加入full
          // $(".address .edit-content").addClass("full");

          map.clearMap();
          lnglatXY = [e.lnglat.lng, e.lnglat.lat]; //已知点坐标

          getAddress(lnglatXY, {
              success: function(address) {
                  var detail = address.formattedAddress;
                  var address = {
                      province: address.addressComponent.province,
                      city: address.addressComponent.city,
                      district: address.addressComponent.district,
                      township: address.addressComponent.township
                  }
                  var replace = "" + address.province + address.city + address.district + address.township + "";
                  detail = detail.replace(replace, "");
                  address.detail = detail;
                  // var address = JSON.stringify(address);
                  // console.log(address);
                  $(".nav-name input").val(address.township+address.detail);
                  $(".nav-city input").val(address.city);

                  // $(".address .edit-content").attr("data-address", address);
                  // $(".address .edit-content").text(detail);
                  // $("#address").val(detail);
              }
          });

          addMark(lnglatXY);
      });
</script>
<script>
//    demo();

    //通过指纹照片 指静脉照内容框的ID对超出显示点击加载更多和多余照片隐藏的功能
    function initPicByClass(divId){
        //通过div的id来对
        var FCW = $(divId).width();
        var picN = $(divId+" .l").length;
        var picW = $(divId+" img").width();
        if(picW*picN > FCW){
            var showNum = Math.floor(FCW/130);
            $(divId+" .mr-5 ").show();
        }else{
            $(divId+" .mr-5 ").hide();
        }
    }

    //点击展开更多和收起
   $(".underline").on("click",function(){
       var text = $(this).text();
       if(text == "收起"){
           var id = $(this).parent().parent()[0].id;
           $("#"+id+" .pic-content").addClass("pic-content-o-hidden");
           $(this).text("点击展开更多");
       }else{
           var id = $(this).parent().parent()[0].id;
           $("#"+id+" .pic-content").removeClass("pic-content-o-hidden");
           $(this).text("收起");
       }
   })

    //初始化指纹照片 指静脉照内容框的超出显示点击加载更多和多余照片隐藏的功能
    function initPic(){
        initPicByClass("#fingerprint-content");
        initPicByClass("#fingervein-content");
    }
    initPic();
    $("#baocun").on("click",function(){
        var obj = this;
        layer.confirm('确认要保存吗？',function(index){
            //此处请求后台程序，下方是成功后的前台处理……
            console.log( $(this).parents());
            // $(obj).parents("tr").remove();
            layer.msg('已保存!',{icon:1,time:1000});
        });
    })

    function addMark(position,img){
      var icon = new AMap.Icon({
        size : new AMap.Size(60,60),
        content:""
      });
      marker = new AMap.Marker({
        icon : icon,//24px*24px
        map : map,
        // position: [108.958486,34.271454],
        position:position,
        draggable: true,
        clickable:true,
        cursor: 'move',
        raiseOnDrag: true
      });
      marker.setMap(map);
    }

    //兵马俑
    addMark([109.281166,34.385152]);
</script>
</html>