<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="人社管理平台">
    <meta name="description" content="人社管理平台">
    <!--[if lt IE 9]>
    <script src="../common/js/html5.js"></script>
    <script src="../common/js/respond.min.js"></script>
    <script src="../common/js/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../common/plugin/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" href="../../common/plugin/Hui-iconfont/1.0.7/iconfont.css"/>
    <link rel="stylesheet" href="../../common/plugin/icheck/icheck.css"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" href="../../common/plugin/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" href="../../common/css/common.css"/>
    <!--[if IE 6]>
    <script src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>人社管理平台</title>
</head>
<style>
    
</style>
<body>
<nav class="breadcrumb">
    <span class="size14 color6">当前位置：</span>
    <span class="color6">系统首页</span>
    <span class="c-gray en">&gt;</span>
    <span class="color6">业务管理</span>
    <span class="c-gray en">&gt;</span>
    <span class="color size14">参保人详细资料</span>
    <a class="btn btn-default radius r" style="line-height:1.6em;margin-top:3px" href="javascript:history.go(-1)" title="返回" ><i class="Hui-iconfont">返回</i></a>
    <a class="btn btn-success radius r ml-10 mr-10 edit-a" style="line-height:1.6em;margin-top:3px"  title="更改状态"><i class="Hui-iconfont">更改状态</i></a>
    <a class="btn btn-warning radius r send-warn" style="line-height:1.6em;margin-top:3px" title="警告提醒"><i class="Hui-iconfont">警告提醒</i></a>
</nav>
<div class="page-container">
    <div class="col-md-12 mt-20 mb-20">
        <div class="table-header clearfix bg-ob">基本资料</div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="bg-ob text-c w-15">用户姓名：</td>
                <td>张大三</td>
                <td class="bg-ob text-c w-15" rowspan="3">证件照：</td>
                <td rowspan="3">
                    <img src="" alt="" title="照片" class="p-130">
                </td>
            </tr>
            <tr>
                <td class="bg-ob text-c">身份证号：</td>
                <td>13021199750512345</td>
            </tr>
            <tr>
                <td class="bg-ob text-c">联系电话：</td>
                <td>18408251157</td>
            </tr>
            <tr>
                <td class="bg-ob text-c">注册时间：</td>
                <td>2013-08-13</td>
                <td class="bg-ob text-c">设备：</td>
                <td>611001</td>
            </tr>
            <tr>
                <td class="bg-ob text-c">所辖地：</td>
                <td>四川省-成都市-浦江县-白云乡</td>
                <td class="bg-ob text-c">设备状态：</td>
                <td>正常/锁定</td>
            </tr>
            </tbody>
        </table>

        <div class="table-header clearfix mt-10 bg-ob">生物信息</div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="bg-ob text-c w-15">指纹照片</td>
                <td colspan="3" id="fingerprint-content">
                    <div class="mr-5" style="display: none">
                        <a class="underline">点击展开更多</a>
                    </div>
                    <div class="pic-content pic-content-o-hidden">
                        <div class="l mr-10">
                            <img src="" alt="" title="照片" class="p-120">
                            <div class="text-c">左手食指</div>
                        </div>
                        <div class="l mr-10">
                            <img src="" alt="" title="照片" class="p-120">
                            <div class="text-c">左手食指</div>
                        </div>
                        <div class="l mr-10">
                            <img src="" alt="" title="照片" class="p-120">
                            <div class="text-c">左手食指</div>
                        </div>
                        <div class="l mr-10">
                            <img src="" alt="" title="照片" class="p-120">
                            <div class="text-c">左手食指</div>
                        </div>
                        <div class="l mr-10">
                            <img src="" alt="" title="照片" class="p-120">
                            <div class="text-c">左手食指</div>
                        </div>
                        <div class="l mr-10">
                            <img src="" alt="" title="照片" class="p-120">
                            <div class="text-c">左手食指</div>
                        </div>
                        <div class="l mr-10">
                            <img src="" alt="" title="照片" class="p-120">
                            <div class="text-c">左手食指</div>
                        </div>
                        <div class="l mr-10">
                            <img src="" alt="" title="照片" class="p-120">
                            <div class="text-c">左手食指</div>
                        </div>
                        <div class="l mr-10">
                            <img src="" alt="" title="照片" class="p-120">
                            <div class="text-c">左手食指</div>
                        </div>
                        <div class="l mr-10">
                            <img src="" alt="" title="照片" class="p-120">
                            <div class="text-c">左手食指</div>
                        </div>
                        <div class="l mr-10">
                            <img src="" alt="" title="照片" class="p-120">
                            <div class="text-c">左手食指</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="bg-ob text-c">指静脉照：</td>
                <td colspan="3" id="fingervein-content">
                    <div class="mr-5" style="display: none">
                        <a class="underline">点击展开更多</a>
                    </div>
                    <div class="pic-content pic-content-o-hidden">
                        <div class="l mr-10">
                            <img src="" alt="" title="照片" class="p-120">
                            <div class="text-c">左手食指</div>
                        </div>
                        <div class="l mr-10">
                            <img src="" alt="" title="照片" class="p-120">
                            <div class="text-c">左手食指</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="bg-ob text-c w-15">现场照：</td>
                <td>
                    <div class="l mr-10">
                        <img src="" alt="" title="照片" class="p-120">
                    </div>
                </td>
                <td class="bg-ob text-c w-15">掌静脉照：</td>
                <td>
                    <div class="l mr-10">
                        <img src="" alt="" title="照片" class="p-120">
                        <div class="text-c">左手掌</div>
                    </div>
                    <div class="l mr-10">
                        <img src="" alt="" title="照片" class="p-120">
                        <div class="text-c">左手掌</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="../../common/js/jquery-1.9.1.min.js"></script>
<script src="../../common/plugin/h-ui/js/H-ui.js"></script>
<script src="../../common/plugin/h-ui.admin/js/H-ui.admin.js"></script>
<script src="../../common/js/plugin/layer/2.1/layer.js"></script>
<script src="../../common/js/plugin/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="../../common/plugin/icheck/jquery.icheck.min.js"></script>
<!-- <script src="../../common/js/jquery.contextmenu.r2.js"></script> -->
<script src="../../common/js/common.js"></script>
</body>
<script>
//    demo();

    //通过指纹照片 指静脉照内容框的ID对超出显示点击加载更多和多余照片隐藏的功能
    function initPicByClass(divId){
        //通过div的id来对
        var FCW = $(divId).width();
        var picN = $(divId+" .l").length;
        var picW = $(divId+" img").width();
        if(picW*picN > FCW){
            var showNum = Math.floor(FCW/130);
            $(divId+" .mr-5 ").show();
        }else{
            $(divId+" .mr-5 ").hide();
        }
    }

    //点击展开更多和收起
   $(".underline").on("click",function(){
       var text = $(this).text();
       if(text == "收起"){
           var id = $(this).parent().parent()[0].id;
           $("#"+id+" .pic-content").addClass("pic-content-o-hidden");
           $(this).text("点击展开更多");
       }else{
           var id = $(this).parent().parent()[0].id;
           $("#"+id+" .pic-content").removeClass("pic-content-o-hidden");
           $(this).text("收起");
       }
   })

    //初始化指纹照片 指静脉照内容框的超出显示点击加载更多和多余照片隐藏的功能
    function initPic(){
        initPicByClass("#fingerprint-content");
        initPicByClass("#fingervein-content");
    }
    initPic();

    function openLayer(title,content){
        layer.open({
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            anim: 2,
            title:[title,""],
            area: ['920px', 'auto'], //宽高
            shadeClose: true, //开启遮罩关闭
            content: content
        });
        $(".layui-layer-title").css({
            "padding": "0 50px 0 20px"
        });
        $(".layui-layer-ico").css({
            "background": "url(../../common/images/close.png) no-repeat"
        });

        $('.radio-box input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue'
        });
    }

    $(".send-warn").on("click",function(){
        //询问框
        layer.confirm('警告发出确认？', {
            btn: ['立即发出','不予警告'] //按钮
        }, function(){
            layer.msg('发出重要', {icon: 1});
        }, function(){
//            layer.msg('发出重要', {icon: 1});
        });
//        $(".layui-layer-content").css({
//            "text-align":"center"
//        })
    })

    $(".edit-a").on("click",function(){
        //编辑时table内容区域
        var editTable = '<table class="table table-bordered"><tbody><tr><td class="bg-ob text-c w-15">设备编号：</td><td><input type="text" placeholder="" disabled class="input-text radius" value="611011"></td><td class="bg-ob text-c w-15"><span class="c-red"> *</span>状态：</td><td><div class="radio-box ml-10"><input type="radio" id="radio-1" name="demo-radio2" value="正常" checked><label for="radio-1">正常</label></div><div class="radio-box"><input type="radio" id="radio-2" name="demo-radio2" value="锁定"><label for="radio-2">锁定</label></div></td></tr></tbody></table><div class="text-c mt-20 layer-btn-content"><div class="btn btn-primary radius mr-10 layui-bg-b">确定</div><div class="btn btn-default radius layui-layer-close">取消</div></div>';
        var title = "更改设备状态";
        var content = '<div class="create-u-content">'+editTable  +'</div>';
        openLayer(title,content);
    })

    $(function(){
        $('.radio-box input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue'
        });
    })
</script>
</html>