<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="keywords" content="后台管理系统">
    <meta name="description" content="后台管理系统">
    <!--[if lt IE 9]>
    <script src="../common/js/html5.js"></script>
    <script src="../common/js/respond.min.js"></script>
    <script src="../common/js/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../common/css/basic.css" />
    <link rel="stylesheet" href="../common/plugin/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" href="../common/plugin/h-ui.admin/css/H-ui.login.css" />
    <link rel="stylesheet" href="../common/plugin/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" href="../common/plugin/Hui-iconfont/1.0.7/iconfont.css" />
<!--    <link rel="stylesheet" href="../common/css/common.css" />-->
    <!--[if IE 6]>
    <script src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>后台管理系统</title>
</head>
<body>
<div class="loginWraper">
    <div class="index_box"></div>
    <div id="loginform" class="loginBox">
        <!-- <div class="index_logo"></div> -->
        <div class="loginLine"></div>
        <form class="form form-horizontal" method="post">
            <div class="row cl text-c mg0">
                <!-- <div class="formControls col-xs-12">
                    <div class="err_msg">账户名不存在</div>
                </div> -->
                <div style="font-size: 24px; margin-top: 10px; margin-bottom: 20px;">后台管理系统</div>
            </div>

            <div class="row cl text-c">
                <!--<label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>-->
                <div class="formControls col-xs-12">
                    <input  name="" type="text" placeholder="请输入账号" class="input-text size-L">
                </div>
            </div>
            <div class="row cl text-c">
                <!--<label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>-->
                <div class="formControls col-xs-12 ">
                    <input  name="" type="password" placeholder="请输入密码" class="input-text size-L">
                </div>
            </div>
            <!-- <div class="row cl text-c">
                <div class="formControls col-xs-12">
                    <input class="input-text size-L code-text" type="text" placeholder="输入验证码" /><img src="http://h.hiphotos.baidu.com/zhidao/wh%3D450%2C600/sign=bcb93235f21fbe091c0bcb105e502005/eac4b74543a98226088e26648a82b9014a90eb22.jpg" class="get-code" /></div>
            </div> -->
            <!--            <div class="row cl text-r">
                            <div class="formControls col-xs-10">
                                <label for="online">
                                    <input type="checkbox" name="online" id="online" value="">
                                    记住密码
                                </label>
                            </div>
                        </div>-->
            <div class="row cl text-c">
                <div class="formControls ">
                    <input name="" type="" class="btn size-L login_btn" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                    <!--<input name="" type="reset" class="btn btn-default size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">-->
                </div>
            </div>
        </form>
    </div>
    <!-- <footer class="text-c">
        <p>温馨提示：建议使用IE9以上、360、谷歌、火狐等浏览器效果更佳<span class="sv_href ml-15">《<a>服务条款</a>》</span></p>
        <p>@CopyRight-成都芯软科技股份有限公司&nbsp;-&nbsp;All Rights Reserved. 蜀ICP备&nbsp;12031404号-1</p>
    </footer> -->
</div>
<script src="../common/js/jquery-1.9.1.min.js"></script>
<script src="../common/plugin/h-ui/js/H-ui.js"></script>
<script>
    $(".login_btn").on("click",function(){
        window.location.href="index.html";
    })
</script>
</body>
</html>