<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" content="人社管理平台">
    <meta name="description" content="人社管理平台">
    <!--[if lt IE 9]>
    <script src="../common/js/html5.js"></script>
    <script src="../common/js/respond.min.js"></script>
    <script src="../common/js/PIE_IE678.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../common/plugin/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" href="../common/plugin/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" href="../common/plugin/Hui-iconfont/1.0.7/iconfont.css"/>
    <link rel="stylesheet" href="../common/plugin/icheck/icheck.css"/>
    <link rel="stylesheet" href="../common/plugin/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" href="../common/plugin/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" href="../common/css/common.css"/>
    <!--[if IE 6]>
    <script src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>人社管理平台</title>
</head>
<body>
<nav class="breadcrumb"><span class="size14 color6">当前位置：</span>系统首页<span class="c-gray en">&gt;</span><span
        class="color size14">密码安全</span>
    <!--<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>-->
</nav>
<div class="page-container">
    <form action="" method="post" class="form form-horizontal clearfix" id="form-member-add">
        <div class="col-md-11 pr0">
            <!--onclick="email_doc_add('新建邮件模板','email_doc_add.html','','500')"-->
            <!--        <a class="btn f-r in-b radius mb-10 f_add_btn"  href="sys_add_user.html">新建</a>-->
            <table class="table table-bordered tbody-width-S">
                <!--            <thead>
                            <tr>
                                <th>序号</th>
                                <th>用户名</th>
                                <th class="bg-b" width="100">操作</th>
                            </tr>
                            </thead>-->
                <tbody>
                <tr>
                    <td class="bg-ob text-c">用户名：</td>
                    <td><span class="nickname pl-15 color9">lzy</span></td>
                </tr>
                <tr>
                    <td class="bg-ob text-c"><span class="c-red">*</span>原密码：</td>
                    <td>
                        <div class="formControls col-xs-6 col-sm-6 col-md-5">
                            <input type="text" class="input-text" placeholder="请输入旧的登录密码" name="" id>
                        </div>
                        <span class="color9">（长度6-20个字符、支持数字、字母、标点符号、不允许有空格）</span>
                    </td>
                </tr>
                <tr>
                    <td class="bg-ob text-c"><span class="c-red">*</span>新密码：</td>
                    <td>
                        <div class="formControls col-xs-6 col-sm-6 col-md-5">
                            <input type="text" class="input-text" placeholder="请输入设置新的登录密码" name="" id>
                        </div>
                        <span class="color9">（长度6-20个字符、支持数字、字母、标点符号、不允许有空格）</span>
                    </td>
                </tr>
                <tr>
                    <td class="bg-ob text-c"><span class="c-red">*</span>确认密码：</td>
                    <td>
                        <div class="formControls col-xs-6 col-sm-6 col-md-5">
                            <input type="text" class="input-text" placeholder="请再次输入新的登录密码" name="" id>
                        </div>
                        <span class="color9">（长度6-20个字符、支持数字、字母、标点符号、不允许有空格）</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row cl tac btn-area">
                <button class="layui-btn layui-bg">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
                <!--
                            <a class="layui-btn layui-btn-normal" href="javascript:history.go(-1)">返回</a>
                -->
            </div>
        </div>
    </form>
</div>
<script src="../common/js/jquery-1.9.1.min.js"></script>
<script src="../common/plugin/h-ui/js/H-ui.js"></script>
<script src="../common/plugin/h-ui.admin/js/H-ui.admin.js"></script>
<script src="../common/js/plugin/layer/2.1/layer.js"></script>
<script src="../common/js/jquery.contextmenu.r2.js"></script>
</body>
</html>